body{
    padding: 0;
    margin: 0;
}

#background_phase{
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.phases{
    width: 125px;
    height: 125px;
}

#phase1{
    position: absolute;
    bottom: 200px;
    left: 420px;
}

#phase2{
    position: absolute;
    bottom: 200px;
    right: 420px;
}

#phase3{
    position: absolute;
    bottom: 110px;
    right: 90px;
}

#phase4{
    position: absolute;
    bottom: 50px;
    left: 100px;
}

#phase5{
    position: absolute;
    bottom: 20px;
    right: 300px;
}

#phase6{
    position: absolute;
    bottom: 70px;
    left: 470px;
}

.unlocked{
    cursor: pointer;
}